<?xml version="1.0"?>
<!--
/**
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\User\Model\User"
                type="MageWare\Hibp\Model\User" />
    <type name="Magento\Backend\App\AbstractAction">
        <plugin name="pawnedPassword" type="MageWare\Hibp\App\Action\Plugin\PawnedPassword" sortOrder="90" />
    </type>
    <type name="Magento\User\Controller\Adminhtml\Auth\ResetPasswordPost">
        <plugin name="pawnedPassword" type="MageWare\Hibp\Controller\Plugin\Adminhtml\Auth\ResetPasswordPost" sortOrder="90" />
    </type>
    <type name="Magento\User\Controller\Adminhtml\User\Validate">
        <plugin name="pawnedPassword" type="MageWare\Hibp\Controller\Plugin\Adminhtml\User\Validate" sortOrder="90" />
    </type>
    <type name="Magento\Backend\Controller\Adminhtml\System\Account\Save">
        <plugin name="pawnedPassword" type="MageWare\Hibp\Controller\Plugin\Adminhtml\System\Account\Save" sortOrder="90" />
    </type>
    <type name="Magento\User\Controller\Adminhtml\User\Save">
        <plugin name="pawnedPassword" type="MageWare\Hibp\Controller\Plugin\Adminhtml\User\Save" sortOrder="90" />
    </type>
</config>
